@font-face {
    font-family: 'Metropolis';
    src: url('/src/fonts/Metropolis Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
  @font-face {
    font-family: 'Marmalede';
    src: url('/src/fonts/Marmalede.otf') format('opentype');
  }


  body {
    background-color: #09193A; 
  }
  .hero {
    background:url(/src/images/fondo\ con\ rombos\ -\ seattle\ web.jpg) ;
    background-size: cover;
  }
  .btn {
    font-family: mason-sans, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    padding: 6px 36px;
    background: linear-gradient(0deg, #d9bd8a 0%, #e1c897 100%);
    width: 146px;
    border-radius: 0;
  }
  .store {
    background: #c7c7c7;
  }
  .store:hover {
    background-color: #c7c7c7;
  }
  .countdown {
    box-sizing: border-box;
    color: #fff;
    padding: 0;
  }
  h4 {
    font-family: mason-sans, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 26px;
    color: #839bbf;
  }
  .clock {
    padding: 0 80px;
    margin: 0;
  }    
  .number {
    display: block;
    font-size: 160px;
    font-family: 'Coventry Garden NF', sans-serif;
    
  }
  .separador {
    padding: 40px 0 0;
  }
  .description {
    padding: 0 80px;
    margin: -30px 0 0;
  }
  p {
    font-size: 30px;
    font-family:'Metropolis', sans-serif;
  }
  .swag {
    background: url(/src/images/Isolation_Mode.svg);
    background-size: cover;
    background-color: #09193A;
    background-blend-mode: overlay;
    
  }
  h1 {
    font-family: 'Marmalede';
    color: #fff;
    font-size: 66px;
    padding-top: 36px;
    margin-bottom: 10px;
  }
  .swag img {
    max-width: 95%;
  }
  .shop {
    padding: 6px 20px;
  }
  .activities {
    background: linear-gradient(0deg, #2d4e94 0%, #09193A 100%);
  }
  .skyline {
    background: url(/src/images/seattle\ skyline\ 1.png);
    background-size: cover;
  }
  .cierre {
    margin: 300px 0;
  }